---
---
@import "font.scss";
//noinspection CssInvalidCharsetRule
@charset "utf-8";

// fonts
$heading-font: 'Libre Franklin semibold', Arial, serif;
$mainnav-font: 'Libre Franklin extralight', Arial, serif;
$paragraph-font: 'HK grotesk medium', Arial, serif;
$code-font: 'Source Code Pro', monospace;

// sizes
$main-menu-line-height: 4em;
$icon-size: 1em;
$one-liner-height: 2.5em;
$sub-one-liner-height: 2.4em;
$logical-separator-spacing: 1em;
$header-bottom-spacing: 0.1em;
$section-spacing: 2em;
$page-spacing: 3em;
$inline-spacing: 1em;
$max-chars: 80ch;
$accent-border-width: 0.25rem;
$non-important-font-size: 0.8em;

$h2-font-size: 1.5em;
$h2-line-height: 1.3em;
$h3-font-size: 1.2em;
$h3-line-height: 1.3em;
$h4-font-size: 1em;
$h4-line-height: 1.1em;

// colors
$page-color: #e9eae4;
$main-nav-background-color: #1c2a43;
$category-nav-background-color: #333f56;
$nav-text-color: #fff;
$accent-color: #fbc100;
$post-background-color: #fff;
$tag-hover-color: #1b2436;

$main-text-color: #111b2c;
$background-text-color: #9298a4;
$background-text-size: 0.8em;

// general rules
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $paragraph-font;
  font-size: 100%;
}

body {
  border: 32px solid $nav-text-color;
  background-color: $page-color;
  color: $main-text-color;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $paragraph-font;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

h3 {
  font-family: $paragraph-font;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

h4 {
  font-family: $paragraph-font;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

#main-nav {
  text-align: center;
  font-family: 'Libre Franklin extralight';
  font-size: 1em;
  text-transform: uppercase;
  background-color: $main-nav-background-color;
  position: relative;
  height: 6em;
  padding-top: 1em;

  li {
    list-style: none;
    float: left;
    vertical-align: bottom;

    a {
      margin: 0 $section-spacing 0 0;
      color: $nav-text-color;
      padding-top: 2em;
      line-height: 2em;
      display: inline-block;
    }
  }

  .active {
    color: $accent-color
  }

  #nav-left {
    position: absolute;
    width: 40%;
  }
  #logo-container {
    width: 20%;
    position: absolute;
    left: 40%;

    #logo {
      display: block;

      img {
        height: $main-menu-line-height;
        object-fit: scale-down;
      }
    }
  }

  #nav-right {
    width: 40%;
    position: absolute;
    left: 60%;

    #contact {
      position: absolute;
      right: 40%;
    }

    .external-nav {
      position: absolute;
      right: 0;

      .icon-link {
        width: $icon-size;
        height: $main-menu-line-height;
        margin: 0 $logical-separator-spacing 0 0;
        display: block;
      }

      .facebook {
        background: url("../assets/icons/facebook-light.svg") no-repeat center, left;
      }

      .github {
        background: url("../assets/icons/github-light.svg") no-repeat center, left;
      }

      .twitter {
        background: url("../assets/icons/twitter-light.svg") no-repeat center, left;
      }
    }
  }
}

#category-nav {
  font-family: 'Libre Franklin medium';
  font-size: .875em;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background-color: $category-nav-background-color;
  height: 3.5rem;


  li {
    list-style: none;
    display: inline-block;
    line-height: 3.5rem;
  }

  a {
    margin: 0 $section-spacing 0 0;
    color: $nav-text-color;
    line-height: 3.5rem;
  }

  #nav-left, #nav-right {
    width: 40%;
  }

  #logo-container {
    width: 20%;
  }

  #logo {
    background: url("../assets/appcraft-logo-dark.svg");
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }

  .active {
    color: $accent-color;
  }
}

#post {
  background-color: $post-background-color;
  margin-top: $section-spacing;
  padding: $page-spacing;
  h1 {
    font-family: $paragraph-font;
    font-size: 2.5em;
    line-height: 2em;
    margin: 0;
  }
  p {
    font-family: $paragraph-font;
  }
  #post-meta {
    color: $background-text-color;
    font-size: $background-text-size;
  }
  #post-body {
    margin-top: $section-spacing
  }
  li {
    list-style-position: inside;
  }
}

#entries {
  margin-top: $section-spacing;
  position: relative;

  #entry-list {
    
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    

    // li:nth-child(even) {
    //   margin: 0 0 $inline-spacing 0;
    // }

    // li:nth-child(odd) {
    //   margin: 0 4% 4% 0;
    // }

    .entry-card {
      position: relative;
      box-sizing: border-box;
      list-style: none;
      width: 48%;
      background-color: $post-background-color;
      padding: $inline-spacing;
      min-height: 10em;
      max-height: 12em;
      overflow: hidden;
      border-top: 0px solid transparent;
      border-radius: 3px;
      margin: 1%;
      

      .entry-meta {
        color: $background-text-color;
        font-size: $background-text-size;
        margin: $inline-spacing 0;
      }

      .entry-title a {
        color: $main-text-color;
        font-size: $h3-font-size;
        line-height: $h3-line-height;
      }

      .blog-icon {
        width: 35px;
        height: 42px;
        background: url("../assets/icons/blog-icon.svg") no-repeat;
        background-size: 100%;
      }

      .news-icon {
        width: 50px;
        height: 42px;
        background: url("../assets/icons/news-icon.svg") no-repeat;
        background-size: 100%;
      }

      .meetups-icon {
        width: 57px;
        height: 42px;
        background: url("../assets/icons/meetup-icon.svg") no-repeat;
        background-size: 100%;
      }

      .workshops-icon {
        width: 61px;
        height: 42px;
        background: url("../assets/icons/workshop-icon.svg") no-repeat;
        background-size: 100%;
      }
    }

    .blog-card{
      
      
      &:hover {
        box-shadow: none;
        cursor: pointer;
      }

      &:after {
        content: '';
        display: block;
        height: 0;
        }

      &:hover:after {
        content: '';
        display: block;
        width: 94%;
        height: 20px;
        box-shadow: 0 8px 36px 0 #1C2A43;
        position: absolute;
        bottom: 0;
        left: 3%;
        z-index: -1;
        transition: height .25s;
        }
    }

  }
}

.tag-list-block {
  li {
    margin: 0 $inline-spacing 0 0;
    padding: 0 $inline-spacing 0 0;
    display: block;
    float: left;
    list-style-type: none;
  }
  a {
    color: $background-text-color;
    font-size: $background-text-size;
  }
  a:hover {
    color: $tag-hover-color;
    text-decoration: underline;
  }
}

#wrapper, #teaser, #footer-content, #page-navigation, .nav-content {
  margin: 0 auto;
  max-width: $max-chars;
  position: relative;
}

#teaser {
  padding-bottom: $section-spacing;
}

#next {
  display: block;
  float: right;
}

#intro {
  margin: $section-spacing auto $logical-separator-spacing auto;
  max-width: $max-chars;
}

#page-navigation {
  line-height: $one-liner-height;
  overflow: auto;
}

#bottom {
  background-color: #ffffff;
  margin-top: 4em;
  footer {
    .links, .logo, .external-nav {
      float: left;
    }
    li {
      list-style-type: none;
    }
    .links {
      width: 40%;

      a {
        margin: 0 $section-spacing 0 0;
        color: $main-nav-background-color;
        line-height: $main-menu-line-height;
      }
    }
    .logo {
      width: 20%;
      height: $main-menu-line-height;
      background: url("../assets/icons/appcraft-logo-dark.svg") no-repeat center, center;
    }
    .external-nav {
      width: 40%;
      text-align: right;
      li {
        float: right;
      }
      .icon-link {
        width: $icon-size;
        height: $main-menu-line-height;
        margin: 0 0 0 $logical-separator-spacing;
        display: block;
      }
      .facebook {
        background: url("../assets/icons/facebook-dark.svg") no-repeat center, center;
      }
      .twitter {
        background: url("../assets/icons/twitter-dark.svg") no-repeat center, center;
      }
      .github {
        background: url("../assets/icons/github-dark.svg") no-repeat center, center;
      }
    }
  }
}

.stickybottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@import "media";
@import "gist";
