---
---
@charset "utf-8";

// fonts
$heading-font: 'Libre Franklin semibold', Arial, serif;
$mainnav-font: 'Libre Franklin extralight', Arial, serif;
$paragraph-font: 'HK grotesk medium', Arial, serif;
$code-font: 'Source Code Pro', monospace;

// sizes
$main-menu-line-height: 4em;
$icon-size: 1em;
$one-liner-height: 2.5em;
$sub-one-liner-height: 2.4em;
$logical-separator-spacing: 1em;
$header-bottom-spacing: 0.1em;
$section-spacing: 2em;
$page-spacing: 3em;
$inline-spacing: 1em;
$max-chars: 80ch;
$accent-border-width: 0.25rem;
$non-important-font-size: 0.8em;

$h2-font-size: 1.5em;
$h2-line-height: 1.3em;
$h3-font-size: 1.2em;
$h3-line-height: 1.3em;
$h4-font-size: 1em;
$h4-line-height: 1.1em;

// colors
$page-color: #e9eae4;
$main-nav-background-color: #1c2a43;
$category-nav-background-color: #333f56;
$nav-text-color: #fff;
$accent-color: #fbc100;
$post-background-color: #fff;
$tag-hover-color: #1b2436;
$meetup-color:#FB004F;
$conf-color:#0658E9;
$workshp-color: #00E016;

$main-text-color: #111b2c;
$background-text-color: #9298a4;
$background-text-size: 0.8em;

// general rules
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $paragraph-font;
  font-size: 100%;
}

body {
  background-color: $page-color;
  color: $main-text-color;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

h2 {
  font-family: $paragraph-font;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

h3 {
  font-family: $paragraph-font;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

h4 {
  font-family: $paragraph-font;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  padding: $logical-separator-spacing 0 $header-bottom-spacing 0;
}

#page {
  padding-bottom: $inline-spacing;
}

.nav-item {

}

#main-nav {
  text-align: center;
  font-family: 'Libre Franklin extralight', serif;
  font-size: 1em;
  text-transform: uppercase;
  background-color: $main-nav-background-color;
  position: relative;
  height: 6em;
  padding-top: 1em;

  .active {
    color: $accent-color
  }

  a {
    color: $nav-text-color;
  }

  #nav-left {
    position: absolute;
    width: 40%;

    li {
      list-style: none;
      vertical-align: bottom;
      display: inline-block;
      margin: 0 $section-spacing 0 0;
      padding-top: 2em;
      line-height: 2em;
    }
  }

  #logo-container {
    width: 20%;
    position: absolute;
    left: 40%;

    #logo {
      display: block;

      img {
        height: $main-menu-line-height;
        object-fit: scale-down;
      }
    }
  }

  #contact {
    position: absolute;
    left: 65%;
    padding-top: 2em;
    line-height: 2em;
  }

  .external-nav {
    margin-top: 0.5em;
  }
}

#category-nav {
  font-family: 'Libre Franklin medium', serif;
  font-size: .875em;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background-color: $category-nav-background-color;
  height: 3.5rem;

  li {
    list-style: none;
    display: inline-block;
    line-height: 3.5rem;
  }

  a {
    margin: 0 $section-spacing 0 0;
    color: $nav-text-color;
    line-height: 3.5rem;
  }

  .active {
    color: $accent-color;
  }
}

#post {
  background-color: $post-background-color;
  margin-top: $section-spacing;
  padding: $page-spacing;

  h1 {
    font-family: $paragraph-font;
    font-size: 2.5em;
    line-height: 2em;
    margin: 0;
  }

  p {
    font-family: $paragraph-font;
  }

  #post-meta {
    color: $background-text-color;
    font-size: $background-text-size;
  }

  #post-body {
    margin-top: $section-spacing
  }

  li {
    list-style-position: inside;
  }
}

#entries {
  margin-top: $section-spacing;
  position: relative;

  #entry-list {

    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

     div:nth-child(even) {
       margin: 0 0 2% 0;
     }

     div:nth-child(odd) {
       margin: 0 2% 2% 0;
     }

    .entry-card {
      position: relative;
      box-sizing: border-box;
      list-style: none;
      width: 49%;
      background-color: $post-background-color;
      padding: $inline-spacing;
      min-height: 10em;
      max-height: 12em;
      border-top: 2px solid transparent;
      border-radius: 3px;

      &:hover {
        border-top: 2px solid $accent-color;
        transition: border-top .2s ease;
      }

      &:hover ~ div:not(:hover) {
        z-index: -5;
      }

      .entry-meta {
        color: $background-text-color;
        font-size: $background-text-size;
        margin: $inline-spacing 0;
      }

      .entry-title a {
        color: $main-text-color;
        font-size: $h3-font-size;
        line-height: $h3-line-height;
      }

      .blog-icon {
        width: 35px;
        height: 42px;
        background: url("../assets/icons/blog-icon.svg") no-repeat;
        
      }

      .news-icon {
        width: 50px;
        height: 42px;
        background: url("../assets/icons/news-icon.svg") no-repeat;
        
      }

      .meetups-icon {
        width: 57px;
        height: 42px;
        background: url("../assets/icons/meetup-icon.svg") no-repeat;
        
      }

      .workshops-icon {
        width: 61px;
        height: 42px;
        background: url("../assets/icons/workshop-icon.svg") no-repeat;
      }
      .conferences-icon {
        width: 36px;
        height: 42px;
        background: url("../assets/icons/conference-icon.svg") no-repeat;
      }
    }

    .blog-card {

      &:hover {
        box-shadow: none;
        cursor: pointer;
      }

      &:after {
        content: '';
        display: block;
        height: 0;
      }

      &:hover:after {
        content: '';
        display: block;
        width: 94%;
        height: 20px;
        box-shadow: 0 8px 36px 0 #1C2A43;
        position: absolute;
        bottom: 0;
        left: 3%;
        z-index: -1;
        transition: height .25s;
      }
    }


    .workshops-card {
      border-left: 4px solid $workshp-color;
    }
    
    
    .meetups-card {
      border-left: 4px solid $meetup-color;
    }

    .conferences-card {
      border-left: 4px solid $conf-color;
    }
    
    
    
    .diffusedshadow {
      
      &:hover {
        box-shadow: none;
        cursor: pointer;
      }

      &:after {
        content: '';
        display: block;
        height: 0;
        }

      &:hover:after {
        content: '';
        display: block;
        width: 94%;
        height: 20px;
        box-shadow: 0 8px 36px 0 #1C2A43;
        position: absolute;
        bottom: 0;
        left: 3%;
        z-index: -1;
        transition: height .25s;
        }
    }
  }
}

.tag-list-block {

  li {
    margin: 0 $inline-spacing 0 0;
    padding: 0 $inline-spacing 0 0;
    display: block;
    float: left;
    list-style-type: none;
  }

  a {
    color: $background-text-color;
    font-size: $background-text-size;
  }

  a:hover {
    color: $tag-hover-color;
    text-decoration: underline;
  }
}

#wrapper, #teaser, #footer-nav, #page-navigation, .nav-content {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  box-sizing: border-box;
  padding: 0 $inline-spacing;
}

#teaser {
  padding-bottom: $section-spacing;
}

#next {
  display: block;
  float: right;
}

#intro {
  margin: $section-spacing auto $logical-separator-spacing auto;
  max-width: $max-chars;
}

#page-navigation {
  line-height: $one-liner-height;
  overflow: auto;
}

.external-nav {
  position: absolute;
  right: 0;

  li {
    list-style: none;
    display: inline-block;
  }

  .icon-link {
    position: relative;
    width: $icon-size;
    height: $main-menu-line-height;
    margin: 0 $logical-separator-spacing 0 0;
    display: block;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

footer {
  background-color: #ffffff;

  #footer-nav {
    position: relative;
    height: 5em;

    .links, .logo {
      position: absolute;
    }

    li {
      list-style: none;
      display: inline-block;
    }

    .links {
      width: 40%;

      a {
        margin: 0 $section-spacing 0 0;
        color: $main-nav-background-color;
        line-height: $main-menu-line-height;
      }
    }

    .logo {
      width: 20%;
      left: 40%;
      height: $main-menu-line-height;
      background: url("../assets/icons/appcraft-logo-dark.svg") no-repeat center, center;
    }
  }

  .copyright {
    font-size: $background-text-size;
    width: 100%;
    text-align: center;
  }
}

.stickybottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

//noinspection CssUnknownTarget
@import "media";
//noinspection CssUnknownTarget
@import "gist";
//noinspection CssUnknownTarget
@import "font.scss";
