<div id="bottom">
    <footer>
        <div id="footer-content">
            <div class="links">
                {% assign about = site.data.static_page_data.about %}
                {% assign contact = site.data.static_page_data.contact %}
                <a href="{{ site.baseurl }}/{{about.url}}">
                    {{ about.title }}
                </a>
                <a href="{{contact.url}}">
                    {{ contact.title }}
                </a>
            </div>
            <div class="logo">&nbsp;</div>
            {% include external_nav.html %}
            <div class="clear"></div>
        </div>
    </footer>
</div>
