<!--suppress ALL -->
{% assign entries = site.collections | where: 'category', include.category %}
{% if entries %}
<nav id="category-nav">
    <div class="nav-content">
        <ul>
            <li>
                <a
                        class="{% if include.selected == 'all' %}active{% endif %}"
                        href="{{ site.baseurl }}/{{include.category}}/">
                    All
                </a>
            </li>
            {% for item in entries | where: "category", include.category %}
            <li>
                <a class="{% if include.selected == item.label %}active{% endif %} {{ item.subcategory }}-subcategory"
                   href="{{ site.baseurl }}/{{item.category}}/{{ item.label }}">
                    {{ item.display }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
</nav>
{% endif %}
