<div class="nav-content">
    {% assign events = site.collections | where: 'taxonomy', 'event' %}
    {% for item in events | where: "taxonomy", "event" %}
        {% if page.selected == item.label %}
            <a class="selected" href="{{ site.baseurl }}/events/{{ item.label }}">
        {% else %}
            <a href="{{ site.baseurl }}/events/{{ item.label }}">
        {% endif %}
                {{ item.label }}
            </a>
    {% if forloop.last == false %}
     |
    {% endif %}
    {% endfor %}
</div>