<div id="category-nav">
    {% assign events = site.collections | where: 'category', 'event' %}
    {% for item in events | where: "category", "event" %}

        {% if include.selected == item.label %}
            <a class="selected {{ item.subcategory }}-subcategory" href="{{ site.baseurl }}/events/{{ item.label }}">
        {% else %}
            <a class="{{ item.subcategory }}-subcategory" href="{{ site.baseurl }}/events/{{ item.label }}">
        {% endif %}
                {{ item.display }}
            </a>
    {% endfor %}
</div>