<p id="notices">
    <a href='http://www.catb.org/hacker-emblem/'>
        <img
                style="border-width:0; width: 80px; height: 15px"
                src="http://www.catb.org/hacker-emblem/hacker.png"
                alt="hacker emblem"/></a>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img
                alt="Creative Commons License"
                style="border-width:0; width: 80px; height: 15px"
                src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by-sa.png"/>
    </a>
</p>