<!--suppress ALL -->
<nav id="main-nav">
    <div class="wrapper">
        <ul class="nav-list">
            <li class="nav-item static-nav">
                <ul>
                    {% for item in site.data.static_page_data.categories %}
                    <li class="static-nav-item">
                        <a href="{{ site.baseurl }}{{item.url}}"
                           alt="{{ item.title }}"
                           {% if item.id== page.category %}class="active" {% endif %}
                           id="{{ item.id }}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item logo-container">
                <a class="main-logo" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/icons/appcraft-logo-full.svg"/>
                </a>
            </li>
            <li class="nav-item contact">
                <a href="/contact">
                    Contact
                </a>
            </li>
            <li class="nav-item external-nav">
                {% include external_nav.html type="light" %}
            </li>
        </ul>
    </div>
</nav>
