// Primary font

@font-face {
    font-family: 'Libre Franklin extrabold';
    src: url('../assets/fonts/librefranklin-extrabold-webfont.eot');
    src: url('../assets/fonts/librefranklin-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/librefranklin-extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/librefranklin-extrabold-webfont.woff') format('woff'),
         url('../assets/fonts/librefranklin-extrabold-webfont.ttf') format('truetype'),
         url('../assets/fonts/librefranklin-extrabold-webfont.svg#libre_franklinextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Libre Franklin extralight';
    src: url('../assets/fonts/librefranklin-extralight-webfont.eot');
    src: url('../assets/fonts/librefranklin-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/librefranklin-extralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/librefranklin-extralight-webfont.woff') format('woff'),
         url('../assets/fonts/librefranklin-extralight-webfont.ttf') format('truetype'),
         url('../assets/fonts/librefranklin-extralight-webfont.svg#libre_franklinextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Libre Franklin light';
    src: url('../assets/fonts/librefranklin-light-webfont.eot');
    src: url('../assets/fonts/librefranklin-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/librefranklin-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/librefranklin-light-webfont.woff') format('woff'),
         url('../assets/fonts/librefranklin-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/librefranklin-light-webfont.svg#libre_franklinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Libre Franklin medium';
    src: url('../assets/fonts/librefranklin-medium-webfont.eot');
    src: url('../assets/fonts/librefranklin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/librefranklin-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/librefranklin-medium-webfont.woff') format('woff'),
         url('../assets/fonts/librefranklin-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/librefranklin-medium-webfont.svg#libre_franklinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Libre Franklin semibold';
    src: url('../assets/fonts/librefranklin-semibold-webfont.eot');
    src: url('../assets/fonts/librefranklin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/librefranklin-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/librefranklin-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/librefranklin-semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/librefranklin-semibold-webfont.svg#libre_franklinsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Secondary Font
@font-face {
    font-family: 'HK grotesk medium';
    src: url('../assets/fonts/hkgrotesk-medium-webfont.eot');
    src: url('../assets/fonts/hkgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-medium-webfont.woff') format('woff'),
         url('../assets/fonts/hkgrotesk-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/hkgrotesk-medium-webfont.svg#hk_groteskmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'HK grotesk regular';
    src: url('../assets/fonts/hkgrotesk-regular-webfont.eot');
    src: url('../assets/fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-regular-webfont.woff') format('woff'),
         url('../assets/fonts/hkgrotesk-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}