@media (max-width: 500px) {
  .entries {

    .entry-list {

      .entry-card {
        width: 100%;
        margin: 0;
      }

      div:nth-child(even) {
        margin: 0 0 2% 0
      }

      div:nth-child(odd) {
        margin: 0 0 2% 0
      }
    }
  }

  #tags {

    #tag-list {

      .tag-card {
        display: block;
        width: 100%;
        margin: 0;
      }

      .tag-card:nth-child(even) {
        margin: 0 0 2% 0
      }

      .tag-card:nth-child(odd) {
        margin: 0 0 2% 0
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  #tags {

    #tag-list {

      .tag-card {
        position: relative;
        box-sizing: border-box;
        list-style: none;
        width: 49%;
        padding: $inline-spacing;
        min-height: 10em;
        max-height: 13em;
        border-top: 2px solid transparent;
        border-radius: 3px;
      }

      .tag-card:nth-child(even) {
        margin: 0 0 2% 0;
      }

      .tag-card:nth-child(odd) {
        margin: 0 2% 2% 0;
      }
      div:nth-child(3n) {
        margin: 0 0 2% 0;
      }
    }
  }
}

@media (max-width: 800px) {
  nav {

    text-align: center;

    .nav-list {
      height: auto;
      line-height: 2em;
    }

    .nav-item {
      position: static;
      padding-top: 0;
    }

    .logo-container {
      display: none !important;
    }

    .contact {
      display: none;
    }
  }
}

@media (min-width: 300px) {
  body {
    font-size: 16px
  }
  .entries .entry-list .entry-card {
    max-height: 24em;
  }
  .wrapper {
    padding: 0 0.4em;
  }
  #post {
    padding: 1em 1em;
  }
  .content {
    margin-top: 0.4em;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 16px
  }
  .entries .entry-list .entry-card {
    max-height: 22em;
  }
  .wrapper {
    padding: 0 0.5em;
  }
  #post {
    padding: 1.5em 1.5em;
  }
  .content {
    margin-top: 0.5em;
  }
}

@media (min-width: 470px) {
  body {
    font-size: 17px
  }
  .entries .entry-list .entry-card {
    max-height: 20em;
  }
  .wrapper {
    padding: 0 0.6em;
  }
  #post {
    padding: 2em 2em;
  }
  .content {
    margin-top: 0.6em;
  }
}

@media (min-width: 625px) {
  body {
    font-size: 18px
  }
  .entries .entry-list .entry-card {
    max-height: 18em;
  }
  .wrapper {
    padding: 0 0.7em;
  }
  #post {
    padding: 2em 2.5em;
  }
  .content {
    margin-top: 0.7em;
  }
}

@media (min-width: 802px) {
  body {
    font-size: 19px
  }
  .entries .entry-list .entry-card {
    max-height: 15em;
  }
  .wrapper {
    padding: 0 0.8em;
  }
  #post {
    padding: 2em 3em;
  }
  .content {
    margin-top: 0.8em;
  }
}

@media (min-width: 1003px) {
  body {
    font-size: 20px
  }
  .entries .entry-list .entry-card {
    min-height: 10em;
    max-height: 14em;
  }
}

@media (min-width: 1225px) {
  body {
    font-size: 21px
  }
}

@media (min-width: 1496px) {
  body {
    font-size: 22px
  }
}

@media (min-width: 1736px) {
  body {
    font-size: 23px
  }
}

@media (min-width: 2025px) {
  body {
    font-size: 24px
  }
}
