@charset "utf-8";
@import "media.css";
@import "gist.css";

:root {
    /** fonts **/
    --default-font: 'PT Sans', sans-serif;
    --accent-font: 'PT Serif', serif;
    --code-font: 'Source Code Pro', monospace;

    /** sizes **/
    --one-liner-height: 2.5em;
    --sub-one-liner-height: 2.4em;
    --logical-separator-spacing: 1em;
    --header-bottom-spacing: 0.1em;
    --section-spacing: 1em;
    --inline-spacing: 0.5em;
    --max-chars: 80ch;
    --accent-border-width: 0.25rem;

    /** colors **/

    --accent-color: #2aa198;
    --bright-foreground-color: #073642;
    --dark-foreground-color: #002b36;
    --bright-background-color: #fdf6e3;
    --dark-background-color: #eee8d5;

    /** decoration **/
    --box-shadow: 0px 4px 5px 0px rgba(105, 105, 105, 0.25);

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--default-font);
    font-size: 100%;
}

body {
    background-color: var(--bright-background-color);
    color: var(--dark-foreground-color);
    line-height: 1.4em;
}

#main-menu {
    text-align: center;
    background-color: var(--dark-background-color);
    border-top: 0.5rem solid var(--accent-color);
    box-shadow: var(--box-shadow);
}

#main-menu a {
    margin: 0 0.25em;
    line-height: var(--one-liner-height);
}

li {
    margin: 0 0 0.25em 1em
}

ul:last-child li:last-child {
    margin-bottom: 0;
}

ul {
    margin: var(--section-spacing) 0;
}

article img {
    margin: var(--section-spacing) auto;
    border: 1px solid var(--accent-color);
    width: 100%;
    box-sizing: border-box;
    display: block;
}

code, blockquote code {
    font-family: var(--code-font);
    font-style: italic;
    color: var(--bright-foreground-color);
}

#tldr, blockquote {
    background-color: var(--dark-background-color);
    border-left: var(--accent-border-width) solid var(--accent-color);
    padding: 0.5em;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
}

#tldr {
    margin-bottom: var(--logical-separator-spacing);
}

blockquote {
    line-height: 1.4em;
    font-size: 0.85em;
    font-style: italic;
    margin: var(--section-spacing) 0;
}

blockquote li {
    list-style-type: circle;
}

cite {
    font-family: var(--accent-font);
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-family: var(--accent-font);
    font-size: 1.5em;
    line-height: 1.3em;
    padding: var(--logical-separator-spacing) 0 var(--header-bottom-spacing) 0;
}

h3 {
    font-family: var(--accent-font);
    font-size: 1.2em;
    line-height: 1.3em;
    padding: var(--logical-separator-spacing) 0 var(--header-bottom-spacing) 0;
}

h4 {
    font-family: var(--accent-font);
    font-size: 1em;
    line-height: 1.1em;
    padding: var(--logical-separator-spacing) 0 var(--header-bottom-spacing) 0;
}

#home {
    display: block;
    float: left;
    background: url("../images/appcraft_logo.png");
    height: var(--sub-one-liner-height);
    width: var(--sub-one-liner-height);
    background-size: cover;
    margin: 0.1em 0 0 0;
    text-decoration: none;
}

#contact-button {
    display: block;
    margin: var(--logical-separator-spacing) auto;
    line-height: var(--one-liner-height);
    padding: 0 var(--one-liner-height);
    background: var(--accent-color);
    color: var(--dark-background-color);
    width: 6em;
    text-align: center;
    border: 0.1em var(--accent-color) solid;
}

#contact-button:hover {
    text-decoration: none;
    background: var(--dark-background-color);
    color: var(--bright-foreground-color);
}

#home a:hover {
    text-decoration: none;
}

#page {
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    font-family: var(--accent-font);
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.75em;
}

header p {
    font-family: var(--accent-font);
}

#post-meta {
    padding-bottom: 1.5em;
}

#wrapper, #teaser, #footer-content, #page-navigation, #nav-content {
    padding: 0 var(--section-spacing);
    margin: 0 auto;
    max-width: var(--max-chars);
    position: relative;
}

#wrapper {
    margin-top: 1.5em;
}

#teaser {
    padding-bottom: var(--section-spacing);
}

#next {
    display: block;
    float: right;
}

#intro {
    margin: 0 auto var(--logical-separator-spacing) auto;
    max-width: var(--max-chars);
}

#teaser-section, #bottom {
    background-color: var(--dark-background-color);
    color: var(--dark-foreground-color);
}

#page-navigation {
    line-height: var(--one-liner-height);
    overflow: auto;
}

#notices, #notices a {
    text-align: center;
    line-height: var(--one-liner-height);
    font-size: 0.8em;
}

footer {
    background-color: var(--bright-foreground-color);
    color: var(--bright-background-color);
}

footer h2 {
    padding-top: var(--section-spacing);
}

#bottom.stickybottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}