* {
  margin: 0;
  padding: 0; }

html {
  font-family: "PT Sans", sans-serif;
  font-size: 100%; }

body {
  background-color: #fdf6e3;
  color: #002b36;
  line-height: 1.4em; }

nav {
  text-align: center;
  background-color: #eee8d5;
  border-top: 0.5rem solid #2aa198;
  box-shadow: 0px 4px 5px 0px rgba(105, 105, 105, 0.25); }

nav a {
  margin: 0 0.25em;
  line-height: 2.5em; }

li {
  margin: 0 0 0.25em 1em; }

ul:last-child li:last-child {
  margin-bottom: 0; }

ul {
  margin: 1em 0; }

article img {
  margin: 1em auto;
  border: 1px solid #2aa198;
  width: 100%;
  box-sizing: border-box;
  display: block; }

code, blockquote code {
  font-family: "Source Code Pro", monospace;
  font-style: italic;
  color: #073642; }

#tldr, blockquote {
  background-color: #eee8d5;
  border-left: 0.25rem solid #2aa198;
  padding: 0.5em;
  box-shadow: 0px 4px 5px 0px rgba(105, 105, 105, 0.25);
  box-sizing: border-box; }

#tldr {
  margin-bottom: 1em; }

blockquote {
  line-height: 1.4em;
  font-size: 0.85em;
  font-style: italic;
  margin: 1em 0; }

blockquote li {
  list-style-type: circle; }

cite {
  font-family: "PT Serif", serif;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em; }

a {
  color: #2aa198;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h2 {
  font-family: "PT Serif", serif;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 1em 0 0.1em 0; }

h3 {
  font-family: "PT Serif", serif;
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 1em 0 0.1em 0; }

h4 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 1.1em;
  padding: 1em 0 0.1em 0; }

.event-card {
  list-style: none;
  background-color: #eee8d5;
  padding: 0.5em;
  box-shadow: 0px 4px 5px 0px rgba(105, 105, 105, 0.25);
  box-sizing: border-box;
  margin: 0 0 1em 0; }

.conferences-card {
  border-left: 0.25rem solid #b58900; }

.meetups-card {
  border-left: 0.25rem solid #2aa198; }

.workshops-card {
  border-left: 0.25rem solid #d33682; }

.event-date {
  display: block;
  float: right;
  font-size: 0.8em;
  color: #586e75;
  font-style: italic; }

#home {
  display: block;
  float: left;
  background: url("../assets/appcraft_logo.png");
  height: 2.4em;
  width: 2.4em;
  background-size: cover;
  margin: 0.1em 0 0 0;
  text-decoration: none; }

.cta-button {
  display: block;
  margin: 1em auto;
  line-height: 2.5em;
  padding: 0 2.5em;
  background: #2aa198;
  color: #eee8d5;
  width: 6em;
  text-align: center;
  border: 0.1em #2aa198 solid; }

.cta-button:hover {
  text-decoration: none;
  background: #eee8d5;
  color: #073642; }

#home a:hover {
  text-decoration: none; }

#page {
  padding: 0; }

header {
  text-align: center; }
  header h1 {
    font-family: "PT Serif", serif;
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.75em; }
  header p {
    font-family: "PT Serif", serif; }

#post-meta {
  padding-bottom: 1.5em; }

#wrapper, #teaser, #footer-content, #page-navigation, .nav-content {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 80ch;
  position: relative; }

#wrapper {
  margin-top: 1.5em; }

#teaser {
  padding-bottom: 1em; }

#next {
  display: block;
  float: right; }

#intro {
  margin: 0 auto 1em auto;
  max-width: 80ch; }

#teaser-section, #bottom {
  background-color: #eee8d5;
  color: #002b36; }

#page-navigation {
  line-height: 2.5em;
  overflow: auto; }

#notices, #notices a {
  text-align: center;
  line-height: 2.5em;
  font-size: 0.8em; }

#disqus {
  margin-top: 1em; }

footer {
  background-color: #073642;
  color: #fdf6e3; }

footer h2 {
  padding-top: 1em; }

#bottom.stickybottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

#disqus_thread {
  overflow: hidden; }
  #disqus_thread iframe {
    margin-bottom: -65px; }

/* imports */
@media (max-width: 600px) {
  #page-navigation {
    height: 5em;
    line-height: 2.5em; } }
@media (min-width: 300px) {
  body {
    font-size: 16px; } }
@media (min-width: 400px) {
  body {
    font-size: 16px; } }
@media (min-width: 470px) {
  body {
    font-size: 17px; } }
@media (min-width: 625px) {
  body {
    font-size: 18px; } }
@media (min-width: 802px) {
  body {
    font-size: 19px; } }
@media (min-width: 1003px) {
  body {
    font-size: 20px; } }
@media (min-width: 1225px) {
  body {
    font-size: 21px; } }
@media (min-width: 1496px) {
  body {
    font-size: 22px; } }
@media (min-width: 1736px) {
  body {
    font-size: 23px; } }
@media (min-width: 2025px) {
  body {
    font-size: 24px; } }
body .gist {
  margin: 1em 0;
  box-shadow: 0px 4px 5px 0px rgba(105, 105, 105, 0.25); }

body .gist .gist-file {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

body .gist .gist-data {
  border: none;
  border-radius: 0; }

body .gist .blob-wrapper {
  background-color: #eee8d5;
  border: none;
  border-radius: 0; }

body .gist .highlight {
  background-color: #eee8d5;
  border: none;
  border-radius: 0; }

body .gist .blob-code {
  font-size: 1.1em !important;
  font-family: "Source Code Pro", monospace !important; }

body .gist tr:first-child td {
  padding-top: 0.5em !important; }

body .gist tr:last-child td {
  padding-bottom: 0.5em !important; }

body .gist .blob-num {
  display: none; }

body .gist .gist-meta {
  display: none; }
