<div id="bottom">

    <!-- todo fix prev next! -->
    <div id="page-navigation">
        <nav role="pagination" class="post-list-pagination">
            <a href="/" class="prev">&laquo;Previous</a>
            <a href="/" class="next">Next &raquo;</a>
        </nav>
    </div>
    <!-- todo only display latest if applicable? -->
    <section id="teaser-section">
        <div id="teaser">
            {{ partial "latest_posts" . }}
        </div>
    </section>
    <footer>
        <div id="footer-content">
            <!-- todo only include about if not on about page -->
            {{ partial "about" . }}
            {{ partial "licenses" . }}
        </div>
    </footer>
</div>
