<!DOCTYPE html>
<html>
{% include head.html %}
<body id="site">
<div id="page">
    {% include main_nav.html %}
    {% include category_nav.html category=page.category selected=page.selected %}
    <div id="wrapper">
        {{ content }}
    </div>
</div>
{% include bottom.html %}
<script>

    function fixFooter() {
        var page = document.getElementById('page')
        var bottom = document.getElementById('bottom');
        console.log("bottom height:, " + bottom.offsetHeight + " page height: " + page.offsetHeight);
        console.log("inner height: " + window.innerHeight);
        if (page.offsetHeight + bottom.offsetHeight < window.innerHeight) {
            bottom.classList.add("stickybottom");
        } else {
            bottom.classList.remove("stickybottom")
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        fixFooter();
    }, false);

    (function () {
        var throttle = function (type, name, obj) {
            obj = obj || window;
            var running = false;
            var func = function () {
                if (running) {
                    return;
                }
                running = true;
                requestAnimationFrame(function () {
                    obj.dispatchEvent(new CustomEvent(name));
                    running = false;
                });
            };
            obj.addEventListener(type, func);
        };
        throttle("resize", "optimizedResize");
    })();

    // handle event
    window.addEventListener("optimizedResize", function () {
        fixFooter()
    });
    // google analytics here
</script>
</body>
</html>
