---
layout: default
regenerate: true
category: tags
subcategory: all
---
<article id="post" class="content tag-details" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.name }}</h1>
    </header>
    <div itemprop="articleBody">
        <p>
            {{page.description}}
        </p>
    </div>
</article>
<div class="content entries">
    {% assign entries = site.documents | where: 'taggable', 'true' | sort: 'date' | reverse %}
    <div id="entry-list">
        {% for entry in entries %}
            {% if entry.tags contains page.slug %}
                {% include entry_card.html entry=entry %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="clear"></div>
</div>

